fastapi[standard]
uvicorn[standard]
sqlmodel
psycopg2-binary
python-dotenv
pydantic
pydantic-settings#Si SECRET_KEY no existe, la app falla en arranque y no en producción
python-jose[cryptography]#soporta HS256
passlib[bcrypt]#Encapsula bcrypt
